$body-bg: rgb(88, 140, 184);
$body-color: rgb(223, 222, 222);
$main-text: rgb(100, 100, 100);

$theme-colors: (
  "primary": #07ac02,
  "danger": #ff4136
);

@import "node_modules/bootstrap/scss/bootstrap";

@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";

html {
    font-size: 1rem;
  }
  
  @include media-breakpoint-up(sm) {
    html {
      font-size: 1.0rem;
    }
  }
  
  @include media-breakpoint-up(md) {
    html {
      font-size: 1.1rem;
    }
  }
  
  @include media-breakpoint-up(lg) {
    html {
      font-size: 1.2rem;
    }
  }

@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

@function lighten($color, $percentage) {
  @return mix(white, $color, $percentage);
}

#todolist {
  color: rgb(100, 100, 100);
}

.task-priority {
  &.priority-high {
    color: $red;
  }
  &.priority-medium {
    color: $orange;
  }
  &.priority-low {
    color: $yellow;
  }
}

.task-box {
  .task-description {
    color: lighten($main-text, 50%);
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: shade($body-bg, 42%);
}